@model IEnumerable<Printer_And_Ticket_Management_System.Data.Table_AuditTrail>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audi Trail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuditTrailID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Function_case)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AuditTrailID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Function_case)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Reason)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>

</tr>
}

</table>
