
@{
    ViewBag.Title = "AuditTrailFunction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Audit Trail</h2>

@model Printer_And_Ticket_Management_System.Models.AuditTrailRpt

@using (Html.BeginForm("AuditTrailFunction", "Report", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.selectedReport)
        @Html.DropDownListFor(m => m.selectedReport, new SelectList(new List<SelectListItem>
        {
            new SelectListItem { Text = "All", Value = "1" },
            new SelectListItem { Text = "Insert", Value = "2" },
            new SelectListItem { Text = "Delete", Value = "3" },
            new SelectListItem { Text = "Update", Value = "4" },
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
    <br>
    <div>
        @Html.LabelFor(m => m.fromDate)
        @*    @Html.TextBoxFor(m => m.fromDate, "{yyyy-MM-dd}", new { type = "datetime-local", @class = "form-control" })*@
        @Html.TextBoxFor(m => m.fromDate, "{yyyy-MM-dd}", new { type = "date", @class = "form-control" })

    </div>


    <div>
        @Html.LabelFor(m => m.toDate)
        @*@Html.TextBoxFor(m => m.toDate, "{yyyy-MM-dd}", new { type = "datetime-local", @class = "form-control" })*@
        @Html.TextBoxFor(m => m.toDate, "{yyyy-MM-dd}", new { type = "date", @class = "form-control" })

    </div>

    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
}
